<section id="profile" class="content">
    <h2 class="content__title">اطلاعات پروفایل</h2>
    <div class="profile-header">
      <div class="profile-header__background"></div>
      <div class="profile-header__info">
        <div class="user-list__profile">
          <img
            src="assets/images/user1.jpg"
            alt="آواتار سیامک خلیلی"
            class="user-list__avatar" />
          <div class="user-list__info">
            <span class="user-list__name">سیامک خلیلی</span>
            <span class="user-list__role"
              >مدیر پروژه و توسعه‌دهنده اصلی</span
            >
          </div>
        </div>
        <div class="profile-menu">
          <button class="profile-menu__button">نمای کلی</button>
          <button class="profile-menu__button">تیم‌ها</button>
          <button class="profile-menu__button">پروژه‌ها</button>
        </div>
      </div>
    </div>

    <div class="profile-cards">
      <div class="profile-card profile-card--settings">
        <h3 class="profile-card__title">تنظیمات پروفایل</h3>

        <div class="profile-card__section">
          <h4 class="profile-card__section-title">اکانت</h4>

          <div class="profile-card__checkbox">
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider"></span>
            </label>
            <span class="checkbox-label"
              >وقتی کسی مرا دنبال کرد به من ایمیل بزنید</span
            >
          </div>

          <div class="profile-card__checkbox">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
            <span class="checkbox-label"
              >وقتی کسی در پست من جواب داد به من ایمیل بزنید</span
            >
          </div>

          <div class="profile-card__checkbox">
            <label class="switch">
              <input type="checkbox" checked />
              <span class="slider"></span>
            </label>
            <span class="checkbox-label"
              >وقتی کسی از من نام برد به من ایمیل بزنید</span
            >
          </div>
        </div>

        <div class="profile-card__section">
          <h4 class="profile-card__section-title">برنامه</h4>

          <div class="profile-card__checkbox">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
            <span class="checkbox-label"
              >راه‌اندازی و پروژه‌های جدید</span
            >
          </div>

          <div class="profile-card__checkbox">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
            <span class="checkbox-label">به‌روزرسانی ماهانه محصول</span>
          </div>

          <div class="profile-card__checkbox">
            <label class="switch">
              <input type="checkbox" />
              <span class="slider"></span>
            </label>
            <span class="checkbox-label">مشترک شدن در خبرنامه</span>
          </div>
        </div>
      </div>

      <div class="profile-card profile-card--details">
        <h3 class="profile-card__title">جزئیات حساب</h3>
        <p class="profile-card__description">
          در این بخش می‌توانید اطلاعات حساب کاربری خود مانند نام کامل،
          شماره موبایل، ایمیل و شبکه‌های اجتماعی خود را مدیریت کنید.
        </p>
        <ul class="profile-card__list">
          <li class="profile-card__list-item">نام کامل: سیامک خلیلی</li>
          <li class="profile-card__list-item">موبایل: 0912xxxxxxx</li>
          <li class="profile-card__list-item">
            ایمیل: siamakh@example.com
          </li>
          <li class="profile-card__list-item">مکان: اشنویه، ایران</li>
          <li class="profile-card__list-item">
            رسانه‌های اجتماعی: @siamakdev
          </li>
        </ul>
      </div>

      <div class="profile-card profile-card--conversations">
        <h3 class="profile-card__title">گفتگوها</h3>
        <ul class="profile-card__user-list">
          <li class="user-list__item">
            <div class="user-list__profile">
              <img
                src="assets/images/user6.webp"
                alt="آواتار سیامک خلیلی"
                class="user-list__avatar" />
              <div class="user-list__info">
                <span class="user-list__name">آرمین نظری</span>
                <span class="user-list__role"
                  >به اطلاعات بیشتر نیاز دارم...</span
                >
              </div>
            </div>
            <span class="user-list__reply">پاسخ دادن</span>
          </li>
          <li class="user-list__item">
            <div class="user-list__profile">
              <img
                src="assets/images/user2.webp"
                alt="آواتار نازنین رستمی"
                class="user-list__avatar" />
              <div class="user-list__info">
                <span class="user-list__name">نازنین رستمی</span>
                <span class="user-list__role"
                  >کار فوق العاده ای میشه تغییر بدی...</span
                >
              </div>
            </div>
            <span class="user-list__reply">پاسخ دادن</span>
          </li>
          <li class="user-list__item">
            <div class="user-list__profile">
              <img
                src="assets/images/user4.webp"
                alt="آواتار آرمین نظری"
                class="user-list__avatar" />
              <div class="user-list__info">
                <span class="user-list__name">سارا اکبری</span>
                <span class="user-list__role"
                  >بعدازظهر خوبی داشته باشید...</span
                >
              </div>
            </div>
            <span class="user-list__reply">پاسخ دادن</span>
          </li>
          <li class="user-list__item">
            <div class="user-list__profile">
              <img
                src="assets/images/user3.webp"
                alt="آواتار پریسا کریمی"
                class="user-list__avatar" />
              <div class="user-list__info">
                <span class="user-list__name">پریسا کریمی</span>
                <span class="user-list__role"
                  >درباره فایل هایی که می توانم ...</span
                >
              </div>
            </div>
            <span class="user-list__reply">پاسخ دادن</span>
          </li>
        </ul>
      </div>
    </div>

    <div class="profile-projects">
      <h3 class="profile-projects__title">پروژه‌ها</h3>
      <div class="profile-projects__list">
        <div class="profile-projects__item">
          <img
            src="assets/images/profile-projects.jpg"
            alt="پروژه 1"
            class="profile-projects__image" />
          <div class="profile-projects__header">
            <span class="profile-projects__number">پروژه #1</span>
            <h4 class="profile-projects__name">طراحی سیستم چت آنلاین</h4>
            <p class="profile-projects__description">
              سیستم چت زنده برای سایت‌های وردپرسی با پنل اختصاصی اپراتور.
            </p>
          </div>
          <button class="profile-projects__button">مشاهده پروژه‌</button>
        </div>
        <div class="profile-projects__item">
          <img
            src="assets/images/profile-projects2.jpg"
            alt="پروژه 1"
            class="profile-projects__image" />
          <div class="profile-projects__header">
            <span class="profile-projects__number">پروژه #2</span>
            <h4 class="profile-projects__name">داشبورد مدیریت محتوا</h4>
            <p class="profile-projects__description">
              طراحی داشبورد پیشرفته برای مدیریت آسان مقالات و کاربران
              سایت.
            </p>
          </div>
          <button class="profile-projects__button">مشاهده پروژه‌</button>
        </div>
        <div class="profile-projects__item">
          <img
            src="assets/images/profile-projects3.jpg"
            alt="پروژه 1"
            class="profile-projects__image" />
          <div class="profile-projects__header">
            <span class="profile-projects__number">پروژه #3</span>
            <h4 class="profile-projects__name">وب‌اپلیکیشن فروشگاهی</h4>
            <p class="profile-projects__description">
              پیاده‌سازی یک فروشگاه آنلاین مدرن با پرداخت آنلاین و مدیریت
              موجودی.
            </p>
          </div>
          <button class="profile-projects__button">مشاهده پروژه‌</button>
        </div>
      </div>
    </div>
  </section>