<section id="signup" class="content content--active">
    <div class="signin-form">
      <h2 class="form-title">خوش آمدید!</h2>
      <p class="form-subtitle">
        اطلاعات خود را برای ایجاد حساب وارد کنید
      </p>
      <form action="#">
        <div class="form-group">
          <input type="text" placeholder="نام کامل" required />
        </div>

        <div class="form-group">
          <input type="email" placeholder="ایمیل" required />
        </div>

        <div class="form-group">
          <input type="password" placeholder="رمز عبور" required />
        </div>

        <div class="profile-card__checkbox">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
          <span class="checkbox-label">شرایط و قوانین را قبول دارم</span>
        </div>
        <button type="submit" class="signin-button">ثبت نام</button>
        <p class="signup-text">
          قبلاً حساب دارید؟
          <a href="#" class="signup-link">وارد شوید</a>
        </p>
      </form>
    </div>
  </section>