
<section id="signin" class="content">
    <div class="signin-form">
      <h2 class="form-title">خوش برگشتی!</h2>
      <p class="form-subtitle">ایمیل و رمز عبور خود را وارد کنید</p>

      <form action="#">
        <div class="form-group">
          <input type="email" placeholder="ایمیل" required />
        </div>

        <div class="form-group">
          <input type="password" placeholder="رمز عبور" required />
        </div>

        <div class="profile-card__checkbox">
          <label class="switch">
            <input type="checkbox" />
            <span class="slider"></span>
          </label>
          <span class="checkbox-label">مرا به خاطر بسپار</span>
        </div>

        <button type="submit" class="signin-button">ورود</button>

        <p class="signup-text">
          حساب کاربری ندارید؟
          <a href="#" class="signup-link">ثبت نام کنید</a>
        </p>
      </form>
    </div>
  </section>