<section id="tickets" class="content">
    <h2 class="content__title">مشاهده درخواست های جاری</h2>

    <div class="requests-list">
      <div class="request-item">
        <div class="request-item__header">
          <div class="request-item__type-group">
            <div class="request-item__count">۲</div>
            <span class="request-item__type">آپلود مستندات</span>
          </div>
          <span class="request-item__date">1404/02/04</span>
        </div>
        <div class="request-item__content">
          <h3 class="request-item__title">درخواست عضویت</h3>
          <p class="request-item__id">شناسه درخواست: #15425</p>
        </div>
        <div class="request-item__user">
          <div class="request-item__user__info">
            <img
              src="/assets/images/user1.jpg"
              alt="User Avatar"
              class="request-item__user-avatar" />
            <span class="request-item__user-name">سیامک خلیلی</span>
          </div>
          <button class="request-item__btn">مشاهده درخواست</button>
        </div>
      </div>
      <div class="request-item">
        <div class="request-item__header">
          <div class="request-item__type-group">
            <div class="request-item__count">1</div>
            <span class="request-item__type">آپلود مستندات</span>
          </div>
          <span class="request-item__date">1404/02/05</span>
        </div>
        <div class="request-item__content">
          <h3 class="request-item__title">درخواست عضویت</h3>
          <p class="request-item__id">شناسه درخواست: #15426</p>
        </div>
        <div class="request-item__user">
          <div class="request-item__user__info">
            <img
              src="assets/images/user2.webp"
              alt="User Avatar"
              class="request-item__user-avatar" />
            <span class="request-item__user-name">نازنین رستمی</span>
          </div>
          <button class="request-item__btn">مشاهده درخواست</button>
        </div>
      </div>
      <div class="request-item">
        <div class="request-item__header">
          <div class="request-item__type-group">
            <div class="request-item__count">1</div>
            <span class="request-item__type">آپلود مستندات</span>
          </div>
          <span class="request-item__date">1404/02/06</span>
        </div>
        <div class="request-item__content">
          <h3 class="request-item__title">درخواست عضویت</h3>
          <p class="request-item__id">شناسه درخواست: #15427</p>
        </div>
        <div class="request-item__user">
          <div class="request-item__user__info">
            <img
              src="assets/images/user6.webp"
              alt="User Avatar"
              class="request-item__user-avatar" />
            <span class="request-item__user-name">آرمین نظری</span>
          </div>
          <button class="request-item__btn">مشاهده درخواست</button>
        </div>
      </div>
      <div class="request-item">
        <div class="request-item__header">
          <div class="request-item__type-group">
            <div class="request-item__count">5</div>
            <span class="request-item__type">آپلود مستندات</span>
          </div>
          <span class="request-item__date">1404/02/07</span>
        </div>
        <div class="request-item__content">
          <h3 class="request-item__title">درخواست عضویت</h3>
          <p class="request-item__id">شناسه درخواست: #15428</p>
        </div>
        <div class="request-item__user">
          <div class="request-item__user__info">
            <img
              src="assets/images/user3.webp"
              alt="User Avatar"
              class="request-item__user-avatar" />
            <span class="request-item__user-name">پریسا کریمی</span>
          </div>
          <button class="request-item__btn">مشاهده درخواست</button>
        </div>
      </div>
      <div class="request-item">
        <div class="request-item__header">
          <div class="request-item__type-group">
            <div class="request-item__count">3</div>
            <span class="request-item__type">آپلود مستندات</span>
          </div>
          <span class="request-item__date">1404/02/08</span>
        </div>
        <div class="request-item__content">
          <h3 class="request-item__title">درخواست عضویت</h3>
          <p class="request-item__id">شناسه درخواست: #15429</p>
        </div>
        <div class="request-item__user">
          <div class="request-item__user__info">
            <img
              src="assets/images/user5.webp"
              alt="User Avatar"
              class="request-item__user-avatar" />
            <span class="request-item__user-name">کیان احمدزاده</span>
          </div>
          <button class="request-item__btn">مشاهده درخواست</button>
        </div>
      </div>
      <div class="request-item">
        <div class="request-item__header">
          <div class="request-item__type-group">
            <div class="request-item__count">3</div>
            <span class="request-item__type">آپلود مستندات</span>
          </div>
          <span class="request-item__date">1404/02/08</span>
        </div>
        <div class="request-item__content">
          <h3 class="request-item__title">درخواست عضویت</h3>
          <p class="request-item__id">شناسه درخواست: #15500</p>
        </div>
        <div class="request-item__user">
          <div class="request-item__user__info">
            <img
              src="assets/images/user4.webp"
              alt="User Avatar"
              class="request-item__user-avatar" />
            <span class="request-item__user-name">سارا اکبری</span>
          </div>
          <button class="request-item__btn">مشاهده درخواست</button>
        </div>
      </div>
    </div>
  </section>