<section id="users" class="content">
    <h2 class="content__title">لیست کاربران</h2>

    <ul class="user-list">
      <li class="user-list__item">
        <div class="user-list__profile">
          <img
            src="assets/images/user1.jpg"
            alt="آواتار سیامک خلیلی"
            class="user-list__avatar" />
          <div class="user-list__info">
            <span class="user-list__name">سیامک خلیلی</span>
            <span class="user-list__role"
              >مدیر پروژه و توسعه‌دهنده اصلی</span
            >
          </div>
        </div>

        <div class="user-list__details">
          <span class="user-list__tickets">124 تیکت</span>
          <span class="user-list__register-date"> 1392/06/15</span>
          <span class="user-list__status">آنلاین</span>
          <span class="user-list__edit">ویرایش</span>
        </div>
      </li>

      <li class="user-list__item">
        <div class="user-list__profile">
          <img
            src="assets/images/user2.webp"
            alt="آواتار نازنین رستمی"
            class="user-list__avatar" />
          <div class="user-list__info">
            <span class="user-list__name">نازنین رستمی</span>
            <span class="user-list__role">توسعه‌دهنده فرانت‌اند</span>
          </div>
        </div>

        <div class="user-list__details">
          <span class="user-list__tickets">35 تیکت</span>
          <span class="user-list__register-date"> 1402/11/03</span>
          <span class="user-list__status">آفلاین</span>
          <span class="user-list__edit">ویرایش</span>
        </div>
      </li>

      <li class="user-list__item">
        <div class="user-list__profile">
          <img
            src="assets/images/user6.webp"
            alt="آواتار آرمین نظری"
            class="user-list__avatar" />
          <div class="user-list__info">
            <span class="user-list__name">آرمین نظری</span>
            <span class="user-list__role">طراح UI/UX</span>
          </div>
        </div>

        <div class="user-list__details">
          <span class="user-list__tickets">19 تیکت</span>
          <span class="user-list__register-date"> 1403/01/22</span>
          <span class="user-list__status">آنلاین</span>
          <span class="user-list__edit">ویرایش</span>
        </div>
      </li>

      <li class="user-list__item">
        <div class="user-list__profile">
          <img
            src="assets/images/user3.webp"
            alt="آواتار پریسا کریمی"
            class="user-list__avatar" />
          <div class="user-list__info">
            <span class="user-list__name">پریسا کریمی</span>
            <span class="user-list__role">توسعه‌دهنده بک‌اند</span>
          </div>
        </div>

        <div class="user-list__details">
          <span class="user-list__tickets">27 تیکت</span>
          <span class="user-list__register-date"> 1401/09/18</span>
          <span class="user-list__status">آفلاین</span>
          <span class="user-list__edit">ویرایش</span>
        </div>
      </li>

      <li class="user-list__item">
        <div class="user-list__profile">
          <img
            src="assets/images/user5.webp"
            alt="آواتار کیان احمدزاده"
            class="user-list__avatar" />
          <div class="user-list__info">
            <span class="user-list__name">کیان احمدزاده</span>
            <span class="user-list__role">کارشناس امنیت وب</span>
          </div>
        </div>

        <div class="user-list__details">
          <span class="user-list__tickets">14 تیکت</span>
          <span class="user-list__register-date"> 1402/03/05</span>
          <span class="user-list__status">آنلاین</span>
          <span class="user-list__edit">ویرایش</span>
        </div>
      </li>

      <li class="user-list__item">
        <div class="user-list__profile">
          <img
            src="assets/images/user4.webp"
            alt="آواتار سارا اکبری"
            class="user-list__avatar" />
          <div class="user-list__info">
            <span class="user-list__name">سارا اکبری</span>
            <span class="user-list__role">مدیر تولید محتوا</span>
          </div>
        </div>

        <div class="user-list__details">
          <span class="user-list__tickets">8 تیکت</span>
          <span class="user-list__register-date"> 1403/02/10</span>
          <span class="user-list__status">آفلاین</span>
          <span class="user-list__edit">ویرایش</span>
        </div>
      </li>
    </ul>

    <div class="dashboard__projects">
      <h3 class="dashboard__projects-title">پروژه‌های اخیر</h3>
      <ul class="dashboard__projects-list">
        <li class="dashboard__project-header">
          <div class="dashboard__project-name">
            <img src="assets/images/project3.svg" alt="" />
            <h4 class="dashboard__project-title">
              طراحی وب‌سایت فروشگاهی
            </h4>
          </div>
          <div class="dashboard__project-details">
            <span class="dashboard__project-status">در حال انجام</span>
            <span class="dashboard__project-date">1404/01/20</span>
          </div>
        </li>
        <li class="dashboard__project-header">
          <div class="dashboard__project-name">
            <img src="assets/images/project5.svg" alt="" />
            <h4 class="dashboard__project-title">اپلیکیشن مدیریت مالی</h4>
          </div>
          <div class="dashboard__project-details">
            <span class="dashboard__project-status">تکمیل شده</span>
            <span class="dashboard__project-date">1404/01/10</span>
          </div>
        </li>
        <li class="dashboard__project-header">
          <div class="dashboard__project-name">
            <img src="assets/images/project6.svg" alt="" />
            <h4 class="dashboard__project-title">سیستم چت آنلاین</h4>
          </div>
          <div class="dashboard__project-details">
            <span class="dashboard__project-status">در حال تست</span>
            <span class="dashboard__project-date">1404/01/15</span>
          </div>
        </li>
        <li class="dashboard__project-header">
          <div class="dashboard__project-name">
            <img src="assets/images/project1.svg" alt="" />
            <h4 class="dashboard__project-title">طراحی پنل مدیریت</h4>
          </div>
          <div class="dashboard__project-details">
            <span class="dashboard__project-status">در حال طراحی</span>
            <span class="dashboard__project-date">1404/01/05</span>
          </div>
        </li>
        <li class="dashboard__project-header">
          <div class="dashboard__project-name">
            <img src="assets/images/project2.svg" alt="" />
            <h4 class="dashboard__project-title">پروژه بهینه‌سازی سئو</h4>
          </div>
          <div class="dashboard__project-details">
            <span class="dashboard__project-status">در حال تحلیل</span>
            <span class="dashboard__project-date">1404/01/01</span>
          </div>
        </li>
        <li class="dashboard__project-header">
          <div class="dashboard__project-name">
            <img src="assets/images/project3.svg" alt="" />
            <h4 class="dashboard__project-title">
              راه‌اندازی فروشگاه اینترنتی
            </h4>
          </div>
          <div class="dashboard__project-details">
            <span class="dashboard__project-status">معلق</span>
            <span class="dashboard__project-date">1403/12/25</span>
          </div>
        </li>
      </ul>
    </div>
  </section>